<!DOCTYPE html>
<html lang="en" ng-app="YoutubeExt">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/awesomplete.min.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/awesomplete.css">

    <style>
        .items-list {
            margin-top: 70px;
        }
    </style>
</head>
<body ng-controller="SidebarCtrl">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." name="y_query" id="y_query">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="y_search">Go!</button>
                          </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container items-list">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" ng-show="videos.length == 0">Введите текст для поиска</div>

            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="video in videos">
                    <a href="{{video.url}}">{{video.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../src/actions/sidebar.js"></script>
</body>
</html>