<!DOCTYPE html>
<html lang="en" ng-app="YoutubeExt">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/awesomplete.min.js"></script>
    <link rel="stylesheet" href="../lib/awesomplete.css">
    <title>Title</title>
</head>
<body ng-controller="SidebarCtrl">
    <h1>This is sidebar</h1>

    <form action="">
        <input type="text" name="y_query" class="awesomplete" id="y_query">
        <button id="y_search">Search</button>
    </form>

    <p ng-show="videos.length == 0">Введите текст для поиска</p>

    <ul>
        <li ng-repeat="video in videos">
            <a href="{{video.url}}">{{video.title}}</a>
        </li>
    </ul>

    <script src="../src/actions/sidebar.js"></script>
</body>
</html>